<h1>New Edit</h1>
<h2>tweet </h2>
<ul>
<% str = "a" %>
<% @articles.each do |art|%>
<% if art.trend.to_s.include?(str.to_s)  %>


<% else %>
 <h2><%= art.trend %></h2>
<%  str = art.trend %>
<% end %>
<li><%= art.tweet %></li>
<% end %>
</ul>
<%= render 'form', edit: @edit %>

<%= link_to 'Back', edits_path %>
