<%= stylesheet_link_tag 'trends' , :media => "all" %>
<p id="notice"><%= notice %></p>


<div id=trend>
<h1>トレンド一覧</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trends.each do |trend| %>
      <tr>
        <td><font size="4"><%= link_to trend.name, new_edit_path(select_trend: trend.id) %></font></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
