.content {
margin-left: 20px
}

#submitForm{
display: flex;
}

ul{
 list-style: none;
 line-heigh: 1.5;
}

.search {
  margin-left: 40px;
}

.list {
  margin-right: 100px;
}

.wrapper li{
 font-size: 14px;
 background-color: red;
}

table, th, td{
 border: none;
 margin-left: 40px;
}

h1{
 margin-left: 20px;
}

.wrapper_category {
    margin-left: 50px;
}

.wrapper_category td {
    width: 100px;
}

