.article_center {
    width: auto;
    height: 300px;
    padding: 40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: auto;
}

.new_articles h1 {
position: relative;
padding: 5px 5px 5px 42px;
background: #4274b3;
font-size: 20px;
color: white;
margin-left: -33px;
line-height: 1.3;
z-index:-1;
}

.new_articles h1:before {
position: absolute;
content: '';
left: -2px;
top: -2px;
border: none;
border-left: solid 40px white;
border-bottom: solid 79px transparent;
z-index:-2
}


.article_left {
    width: 45%;
    height: 300px;
    padding: 40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.article_left h1 {
position: relative;
padding: 5px 5px 5px 42px;
background: #4274b3;
font-size: 20px;
color: white;
margin-left: -33px;
line-height: 1.3;
z-index:-1;
}

.article_left h1:before {
position: absolute;
content: '';
left: -2px;
top: -2px;
border: none;
border-left: solid 40px white;
border-bottom: solid 79px transparent;
z-index:-2
}

.article_right {
    width: 45%;
    height: 300px;
    padding: 40px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 10px;
     margin-right:10px;
    float: right;
}
.article_right h1 {
position: relative;
padding: 5px 5px 5px 42px;
background: #4274b3;
font-size: 20px;
color: white;
margin-left: -33px;
line-height: 1.3;
z-index:-1;
}

.article_right h1:before {
position: absolute;
content: '';
left: -2px;
top: -2px;
border: none;
border-left: solid 40px white;
border-bottom: solid 79px transparent;
z-index:-2
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

tbody {
    overflow-y: scroll;
    display: block;
    height: 200px;
}

.scaffold_table {
  border-collapse: collapse;
  border: 1px #DCDCDC solid;
}

.scaffold_table th {
  border: 1px #DCDCDC solid;
  padding: 5px;
  color: #000000;
}

.scaffold_table td {
  border: none;
  padding: 5px;
  color: #000000;
  width: 270px;
}

.wrapper-layout {
  display: flex;
}

.wrapper-layout #layoutlist {
  margin-right: 20px;
}
  
.wrapper-layout #layoutlist #radio-button {
text-align: center;
}
