p, ol, ul, td {
  list-style-type: none!important;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
}

#Contents ul {
  border-bottom: solid 1px #000000;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.scaffold_table {
  border-collapse: collapse;
  border: 1px #DCDCDC solid;
}

.scaffold_table th {
  border: 1px #DCDCDC solid;
  padding: 5px;
  color: #000000;
}

.scaffold_table td {
  border: 1px #DCDCDC solid;
  padding: 5px;
  color: #000000;
}




/* divのfloatの解除用 */
.clear {
    clear:both;
}
#dropArea {
      width: 600px;
      height: 1332px;
      margin: 0em 0 0 0em;
      color: #5d627b;
      background: white;
      /*border-top: solid 5px #5d627b;*/
      border: solid 1px #5d627b;
      float: left;
      overflow-y: scroll;
  }
  .#dropArea p {
      margin: 0;
      padding: 0;
  }

#sort-drop-area {
    border: 1px dashed yellow;
    border-radius: 10px;
    border-width: 3px;
}

#list {
    width: 600px;
    height: 1400px;
}

#list h2 {
  position: relative;
  text-align: center;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 30px;
}
#list #list_item {
    overflow-y: scroll;
    height: 1332px;
    background: white;
    border: inset 1px black;
}
#Contents {
  width: 1000px;
  background:white;
  margin:0 0 0 0;
  display: flex;
  padding-top: 0px;
  width: 1300px;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}
#trend-name {
  margin-left: 33px;
}
#Contents #newform {
  display: flex;
  padding-left: 10px
}
